html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
@font-face {
  font-family: 'Ltzaridslab';
  src: url('../public/fonts/29LTZaridSlab-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Readexpro';
  src: url('../public/fonts/ReadexPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Readexpro';
  src: url('../public/fonts/ReadexPro-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '29LTZaridSlab';
  src: url('../public/fonts/29LTZaridSlab-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '29LTZaridSlab';
  src: url('../public/fonts/29LTZaridSlab-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'iran-yekan';
  src: url('../public/fonts/iran-yekan-300.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iran-yekan';
  src: url('../public/fonts/iran-yekan-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'iran-yekan';
  src: url('../public/fonts/iran-yekan-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: Readexpro, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
li > a {
  font-family: Ltzaridslab, sans-serif !important;
}
li > a.active {
  color: #793cfb !important;
}
.ck-editor__editable_inline {
  min-height: 280px;
}
.featured-post-arrows {
  display: flex;
}
@media screen and (max-width: 768px) {
  .featured-post-arrows .arrow.arrow-left {
    margin-top: -168px;
    margin-right: 18px;
  }
  .featured-post-arrows .arrow.arrow-right {
    margin-top: -168px;
    margin-left: 18px;
  }
}
@media screen and (max-width: 465px) {
  .featured-post-arrows .arrow.arrow-left {
    margin-top: -140px;
    margin-right: 18px;
  }
  .featured-post-arrows .arrow.arrow-right {
    margin-top: -140px;
    margin-left: 18px;
  }
}

.rtl-hvlqfa-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: white;
  border: 1px solid #432EEC;
  background-color: #432EEC !important;
}

p {
  margin:  0;
}

.rtl-hvlqfa-MuiButtonBase-root-MuiPaginationItem-root {
  border: 1px solid #432EEC;
  color: #060E62;
  font-size: 0.8rem;
  font-weight: 300 !important;
  font-family: 'Readex Pro' !important;
}

.layout-page-content {
  padding-top: 0 !important;
}